
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Heading styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


input[type="text"],
select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


a {
   
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.success-message {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}


.error-message {
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.create-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.create-link:hover {
    background-color: #218838; 
}
.delete-button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333; /* Darker shade of red on hover */
}